USE [master]
GO
/****** Object:  Database [Berbagi Catatan]    Script Date: 31/10/2024 12:47:01 ******/
CREATE DATABASE [Berbagi Catatan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Berbagi Catatan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Berbagi Catatan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Berbagi Catatan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Berbagi Catatan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Berbagi Catatan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Berbagi Catatan]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 31/10/2024 12:47:01 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[bookmark]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookmark](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[catatanId] [int] NOT NULL,
 CONSTRAINT [PK_bookmark] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catatan]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catatan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[author] [int] NOT NULL,
	[description] [text] NOT NULL,
	[private] [bit] NOT NULL,
	[like_count] [int] NOT NULL,
 CONSTRAINT [PK_catatan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [text] NOT NULL,
	[catatanId] [int] NULL,
 CONSTRAINT [PK_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[komentar]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[komentar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[komentar] [text] NOT NULL,
	[catatanId] [int] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_komentar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[like]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[like](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[catatanId] [int] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_like] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refreshToken]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refreshToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [text] NOT NULL,
 CONSTRAINT [PK_refreshToken] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 31/10/2024 12:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookmark]  WITH CHECK ADD  CONSTRAINT [FK_bookmark_catatan] FOREIGN KEY([catatanId])
REFERENCES [dbo].[catatan] ([id])
GO
ALTER TABLE [dbo].[bookmark] CHECK CONSTRAINT [FK_bookmark_catatan]
GO
ALTER TABLE [dbo].[bookmark]  WITH CHECK ADD  CONSTRAINT [FK_bookmark_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[bookmark] CHECK CONSTRAINT [FK_bookmark_user]
GO
ALTER TABLE [dbo].[catatan]  WITH CHECK ADD  CONSTRAINT [FK_catatan_user] FOREIGN KEY([author])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[catatan] CHECK CONSTRAINT [FK_catatan_user]
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD  CONSTRAINT [FK_images_catatan] FOREIGN KEY([catatanId])
REFERENCES [dbo].[catatan] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[images] CHECK CONSTRAINT [FK_images_catatan]
GO
ALTER TABLE [dbo].[komentar]  WITH CHECK ADD  CONSTRAINT [FK_komentar_catatan] FOREIGN KEY([catatanId])
REFERENCES [dbo].[catatan] ([id])
GO
ALTER TABLE [dbo].[komentar] CHECK CONSTRAINT [FK_komentar_catatan]
GO
ALTER TABLE [dbo].[komentar]  WITH CHECK ADD  CONSTRAINT [FK_komentar_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[komentar] CHECK CONSTRAINT [FK_komentar_user]
GO
ALTER TABLE [dbo].[like]  WITH CHECK ADD  CONSTRAINT [FK_like_catatan] FOREIGN KEY([catatanId])
REFERENCES [dbo].[catatan] ([id])
GO
ALTER TABLE [dbo].[like] CHECK CONSTRAINT [FK_like_catatan]
GO
ALTER TABLE [dbo].[like]  WITH CHECK ADD  CONSTRAINT [FK_like_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[like] CHECK CONSTRAINT [FK_like_user]
GO
USE [master]
GO
